## Ignore Visual Studio

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
RelDbg/
x64/
build/
[Bb]in/
[Oo]bj/
.vs/

*.ilk
*.obj
*.pch
*.pdb
*.sbr

*.exe
*.log
*.iobj
*.ipdb

# cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
